<app-header
    [appConfig]="applicationConfig"
    (menuClick)="sidenavComponent.toggleDrawer()"
></app-header>
<app-sidenav #sidenavComponent [contentTemplate]="sidenavContent"></app-sidenav>

<ng-template #sidenavContent>
    <h2>{{ applicationConfig.title }}</h2>
    <app-products-list></app-products-list>
</ng-template>

<!-- Homework stand -->

<!-- Switch template -->
<!-- <app-popup-host [template]="switchTemplate() ? first : second"></app-popup-host> -->

<!-- or -->

<!-- Close template -->
<!-- <app-popup-host [template]="!closeTemplate() ? first : null"></app-popup-host> -->

<!-- <ng-template #first>
    <h2>First</h2>
    <p>Is first template</p>
</ng-template>
<ng-template #second>
    <h2>Second</h2>
    <p>Is second template</p>
</ng-template> -->
